<link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" rel="stylesheet">
<div class=" fixed  top-0 left-0 w-full z-50">
    <%- include('../partials/adminHeader.ejs') %>
</div>


<div class="flex mt-10">
    <div class="fixed">
        <%- include('../partials/adminSlideBar.ejs') %>
    </div>

    <div class=" absolute w-9/12  mt-16 right-8">
        <h1 class="text-2xl font-bold text-center mb-6">Coupon Management</h1>
        <div class="flex justify-center hidden" id="addCoupon">
            <form id="couponForm" class="my-5 p-5 bg-white shadow-md rounded w-6/12 ">
                <div class="flex justify-between">
                    <h2 class="text-2xl font-medium text-cyan-500">Add Coupon</h2> <button id="closeBtn"
                        class="bg-red-500 rounded-lg w-12 text-white font-light">Close</button>
                </div>
                <div class="flex flex-col space-y-4">
                    <label for="couponCode" class="font-semibold">Coupon Code</label>
                    <input type="text" id="couponCode" placeholder="Enter Coupon Code"
                        class="border p-2 rounded uppercase" required>
                        <span id="couponErr" class="text-red-400"></span>

                    <label for="couponType" class="font-semibold">Coupon Type</label>
                    <select id="couponType" class="border p-2 rounded" required>
                        <option value="" disabled selected>Select Coupon Type</option>
                        <option value="percentage">Percentage</option>
                        <option value="price">Price</option>
                    </select>

                    <label for="discountValue" class="font-semibold">Discount Value</label>
                    <input type="number" id="discountValue" placeholder="Enter Discount Value"
                        class="border p-2 rounded" required>
                    <span id="discountErr" class="text-red-400"></span>
                    <label for="minimumAmount" class="font-semibold">Minimum Amount</label>
                    <input type="number" id="minimumAmount" placeholder="Enter Minimum Amount"
                        class="border p-2 rounded" required>
                    <span id="minimumErr" class="text-red-400"></span>

                    <label for="startDate" class="font-semibold">Start Date</label>
                    <input type="date" id="startDate" class="border p-2 rounded" required>

                    <label for="endDate" class="font-semibold">End Date</label>
                    <input type="date" id="endDate" class="border p-2 rounded" required>

                    <button type="submit" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-700">Add
                        Coupon</button>
                </div>
            </form>
        </div>
        <table id="myTable" class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border px-4 py-2">Coupon Code</th>
                    <th class="border px-4 py-2">Coupon Type</th>
                    <th class="border px-4 py-2">Discount Value</th>
                    <th class="border px-4 py-2">Minimum Amount</th>
                    <th class="border px-4 py-2">Start Date</th>
                    <th class="border px-4 py-2">End Date</th>
                    <th class="border px-4 py-2">Usage Count</th>
                    <th class="border px-4 py-2">Status</th>
                    <th class="border px-4 py-2">Actions</th>
                    <th hidden></th>
                </tr>
            </thead>
            <tbody id="couponList">
                <% coupons.forEach(coupon=>{%>
                    <tr id="coupon">
                        <td class="border px-4 py-2">
                            <%=coupon.couponCode %>
                        </td>
                        <td class="border px-4 py-2">
                            <%=coupon.couponType %>
                        </td>
                        <td class="border px-4 py-2">
                            <%=coupon.discountValue %>
                        </td>
                        <td class="border px-4 py-2">
                            <%=coupon.minimumAmount %>
                        </td>
                        <td class="border px-4 py-2">
                            <%=coupon.startDate.toLocaleString() %>
                        </td>
                        <td class="border px-4 py-2">
                            <%=coupon.endDate.toLocaleString() %>
                        </td>
                        <td class="border px-4 py-2">
                            <%=coupon.usageCount %>
                        </td>
                        <td class="border px-4 py-2">
                            <button id="changeStatus"
                                class="  bg-<%=(coupon.block) ?'green':'red'%>-600 text-sm text-white p-1 rounded w-16 ">
                            <%=(coupon.block) ?'Active':'Unblock'%>
                            </button>
                        </td>
                        <td hidden id="couponId"><%=coupon._id %></td>
                        <td id="deleteCoupn" class="border px-4 py-2">
                            <button class="bg-red-500 text-white p-1 rounded hover:bg-red-700">Delete</button>
                        </td>
                    </tr>
                    <%})%>


            </tbody>
        </table>
        <div><button id="addBtn" class="bg-cyan-700 mt-2  text-white rounded-lg h-8 w-28">ADD COUPON</button></div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    // minimum date for the date inputs to today
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('startDate').setAttribute('min', today);
    document.getElementById('endDate').setAttribute('min', today);

    document.getElementById("startDate").addEventListener("change", () => {
        start = document.getElementById('startDate').value
        document.getElementById('endDate').setAttribute('min', start);

    })


    document.getElementById("discountValue").innerHTML = ""
    document.getElementById("minimumErr").innerHTML = ""

    document.getElementById("couponForm").addEventListener("submit", (event) => {
        event.preventDefault()
        const couponCode = document.getElementById("couponCode").value.toUpperCase()

        const couponType = document.getElementById("couponType").value
        const discountValue = document.getElementById("discountValue").value
        const minimumAmount = document.getElementById("minimumAmount").value
        const startDate = document.getElementById("startDate").value
        const endDate = document.getElementById("endDate").value
        let valid = true
        console.log(couponCode, couponType, discountValue, minimumAmount, startDate, endDate);
        if (Number(discountValue) < 1) {
            document.getElementById("discountErr").innerHTML = "*please enter valid discount"
            valid = false
            console.log("Errr");
        }
        if (valid) {
            axios.post("/admin/addCoupon",
                { couponCode, couponType, discountValue, minimumAmount, startDate, endDate }).then(response => {
                    // document.getElementById("addCoupon").classList.add("hidden")
                    window.location.reload()
                }).catch(err => {
                    document.getElementById("couponErr").innerHTML="* Coupon already exists!"
                })
        }
    })

    document.getElementById("addBtn").addEventListener("click", () => {
        document.getElementById("addCoupon").classList.remove("hidden")
        window.scroll(0, 0)

    })
    document.getElementById("closeBtn").addEventListener("click", () => {
        document.getElementById("addCoupon").classList.add("hidden")

    })

    document.querySelectorAll("#coupon").forEach(coupon => {
        coupon.querySelector("#changeStatus").addEventListener("click", () => {
            const couponId = coupon.querySelector("#couponId").innerHTML

            Swal.fire({
                title: "Do you want to save the changes?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Save",
                denyButtonText: `Don't save`
            }).then(async(result) => {
                /* Read more about isConfirmed, isDenied below */
                if(result.isConfirmed) {
                    console.log("woking");
                    
                   await Swal.fire("Saved!", "", "success");
                axios.patch("/admin/changeCouponSts", { couponId }).then(response => {
                    console.log(response);
                    
                window.location.reload()
            })
                } else if (result.isDenied) {
                    Swal.fire("Changes are not saved", "", "info");
                }
            });
        
        })
        coupon.querySelector("#deleteCoupn").addEventListener("click", () => {
            const couponId = coupon.querySelector("#couponId").innerHTML

            Swal.fire({
                title: "Do you want to save the changes?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Save",
                denyButtonText: `Don't save`
            }).then(async(result) => {
                /* Read more about isConfirmed, isDenied below */
                if(result.isConfirmed) {
                    console.log("woking");
                    
                   await Swal.fire("Deleted!", "", "success");
                axios.patch("/admin/deleteCoupn", { couponId }).then(response => {
                    console.log(response);
                    
                window.location.reload()
            })
                } else if (result.isDenied) {
                    Swal.fire("Changes are not saved", "", "info");
                }
            });
        
        })

    })



    // window.onload()=function(){
    //     changeStatus
    // }












    // Initialize DataTable
    $(document).ready(function () {
        $('#myTable').DataTable({
            responsive: true
        });
    });
</script>